// Real Crowd Custom Bootsrap overrides
//
// Copy class names from specific files ex. `_breadcrumb.scss` to this file to override default conventions (ex. link colors) or add extra UI details (ex. underline on active link states) without modifying source files.


//Table of Contents

// Breadcrumbs
// Nav





//Breadcrumbs

.breadcrumb-item {
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  a {
    color: $brand-primary;
  }

  &.active {
    text-decoration: underline;
  }
}

