// Real Crowd Custom Bootsrap overrides
//
// Copy class names from specific files ex. `_breadcrumb.scss` to this file to override default conventions (ex. link colors) or add extra UI details (ex. underline on active link states) without modifying source files.


//Table of Contents

//Variables

// Breadcrumbs
// Buttons
// Cards


//Variables

$box-shadow: 0 0 13px 0 rgba($black,.15);



//Breadcrumbs

.breadcrumb-item {
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  a {
    color: $brand-primary;
  }

  &.active {
    text-decoration: underline;
  }

  //Helper class allows us to place secondary non-linked helper text into the menu ex "$25K - $700K"
  &.helper {
    font-weight: 300;
    color: $white;
  }

  //Helper class to set breadcrumb call-to-action text to white, it remains bold and should always be aligned right. Use default bootstrap grid to accomplish this. The change in colour is possible to acheive with just default bootstrap components, but having this class helps make our DOM clearer regarding its purpose and quicker to execute for developers.
  &.call-to-action {
    color: $white;
  }

}




// Buttons

.btn-lg {
  box-shadow:  $box-shadow;
}

//Ensures button-groups and dropdowns do not get this emphasis shadow
.btn-group {
  > .btn {
    box-shadow: none;
  }
}





